<html>
<body>
	<div>
		<table style="margin-left: auto; margin-right: auto; font-family:'Google Sans',Arial,sans-serif;">
			<tr> 
				<td width="100%" height="100%" style="vertical-align: top; background-color: #000000;"> 
					<table id="InsertHere" name="MainTable" style="margin-left: auto; margin-right: auto; border-spacing: 0 10px; padding: 0 10px;"> 
						<tr style="text-align: center;"> 
							<td colspan="2"> 
								<h1 id="Title" style="font-size:3.3em;margin:10px 0 0 0;">
                                    <a href="{ServerURL}" target="_blank" style="color:#E197BC;text-decoration: none;">
                                        <img src="https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_play_circle_filled_white_48px-512.png" style="height: 1.3em;margin-bottom:-12px;"> 
                                        Jellyfin Newsletter
                                    </a>
                                </h1>
								<h3 id="Date" style="color:#FFFFFF;margin:0px;">{Date}</h3>
							</td> 
						</tr>
                        <tr>
                            <!-- Fill this in from code -->
                            {EntryData}
                            <!-- Fill that in from code -->
                        </tr>
					</table> 
				</td>
			</tr> 
		</table> 
	</div>
</body>
</html>