<tr class='boxed' style='outline: thin solid #D3D3D3;'> 
    <td class='lefttable' style='padding-right: 5%; padding-left: 2%; padding-top: 2%; padding-bottom: 2%;'> 
        <img style='width: 200px; height: 300px;' src='{ImageURL}'> 
    </td> 
    <td class='righttable' style='vertical-align: top; padding-left: 5%; padding-right: 2%; padding-top: 2%; padding-bottom: 2%;'> 
        <p>
            <div id='SeriesTitle' class='text' style='color: #FFFFFF; text-align: center;'>
                <h3>
                    {Title} 
                </h3>
            </div>
            <div class='text' style='color: #FFFFFF;'>
                {SeasonEpsInfo}
            </div>
            <hr> 
                <div id='Description' class='text' style='color: #FFFFFF;'>
                {SeriesOverview}
                </div> 
            </hr>
        </p> 
    </td> 
</tr>