<tr class="boxed" style="outline: 1px solid #bf7df0;border-radius: 25px;">
    <td>
        <table style="margin:0;padding:0;border:0;">
            <tr style="margin:0;padding:0;border:0;">
                <td rowspan="0" class="lefttable" style="padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;"> 
                    <a href="{ServerURL}" target="_blank"><img style="width: 133px; height: 200px;" src="{ImageURL}"></a>
                </td>
                <td class="righttable" style="vertical-align: top; padding-right: 10px; padding-top: 10px;width:100%;"> 
                    <div id="SeriesTitle" class="text" style="color: #FFFFFF; text-align: center;">
                        <h2 style="margin-top:6px;margin-bottom:0px;"><a href="{ServerURL}" target="_blank" style="color:#87beff;text-decoration: none;">
                        {Title} 
                        </a></h2>
                    </div>
                    
                    <!-- One time create, not loop for these elements-->
                    <table>
                        <td>
                            <div id="runtime" style="color: #d190c5; font-size: small;">
                                <b>Duration:</b> <i>{RunTime} min.</i> |
                            </div>
                        </td>
                        <td>
                            <div id="communityrating" style="color: #d190c5; font-size: small;">
                                <img src="https://cdn-icons-png.flaticon.com/512/3418/3418886.png" style="height: 15px;"> 
                            </div>
                        </td>
                        <td>
                            <div id="communityrating" style="color: #d190c5; font-size: small;">
                                {CommunityRating} |
                            </div>
                        </td>
                        <td>
                            <div id="officialrating" style="color: #d190c5; font-size: small;">
                                {OfficialRating} |
                            </div>
                        </td>
                        <td>
                            <div id="premiereyear" style="color: #d190c5; font-size: small;">
                                {PremiereYear}
                            </div>
                        </td>
                    </table>

                    <!--  -->
                    
                    <div class="text" style="color: #d190c5;">
                        {SeasonEpsInfo}
                    </div>
                    <hr style="border-color: #007fb1;margin-bottom:12px;width:80%;"/> 
                    <div id="Description" class="text" style="color: #FFFFFF;">
                        {SeriesOverview}
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>