<div class="movie-card">
    <a href="{ServerURL}" target="_blank">
        <img src="{ImageURL}" alt="{Title}">
    </a>
    <div class="movie-details">
        <h2><a href="{ServerURL}" target="_blank">{Title}</a></h2>
        <div class="movie-info">
            <div><strong>Duration: {RunTime} min</strong></div>
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/3418/3418886.png" alt="Rating"> 
                {CommunityRating} | {OfficialRating} | {PremiereYear}
            </div>
        </div>
        <div class="movie-info">
            <div>{SeasonEpsInfo}</div>
        </div>
        <div class="movie-description">
            {SeriesOverview}
        </div>
    </div>
</div>